
.body{background-color: black;}
h1 {color:gold;text-align: center;font-family: fantasy;}        
h2 {color:dodgerblue}
h4 {color: azure;}

#intro {line-height: 30px; text-align: justify; 
        color: dodgerblue}

.para {line-height: 30px; text-align: justify; 
       color:dodgerblue}

.para::first-letter {font-size:45pt; Color:red;}

.det{color: red;font-size: xx-large;}